/* ==================== GOOGLE FONTS ==================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


/* ==================== VARIABLE CSS ==================== */
:root {
    --header-height: 3.5rem;

    /* ========== Colors ========== */
    --first-color: hsl(38, 69%, 59%);
    --text-color: hsl(38, 8%, 8%);


    /* ========== Font and typography ========== */
    /* .5rem = 8px | 1rem = 16px    */
    --body-font: 'Space Grotesk', sans-serif;
    ;
    --biggest-font-size: 2.375rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
}



/* Responsive typography */
/* for screen greater than 1024px */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }

}




/* ==================== BASE ==================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}




/* ==================== REUSABLE CSS CLASSES ==================== */
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main {
    overflow: hidden;
    /* For the animations scrollReveal */
}







/* ==================== HEADER & NAV ==================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    width: 100%;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--text-color);
    display: inline-flex;
}

.nav__logo {
    font-weight: 700;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}


@media screen and (max-width:765px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--first-color);
        width: 100%;
        padding: 5rem 0 4rem;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
        transition: .4s;
        /* text-align: center; */
    }
}


.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.nav__link {
    color: var(--text-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}



/* SHOW MENU */
.show-menu {
    top: 0;
}







/* ==================== HOME ==================== */
.home {
    background-color: var(--first-color);
    padding: 5rem 0 1rem;
    min-height: 100vh;
    display: grid;
}

.home__container {
    display: grid;
    align-content: center;
    row-gap: 2.5rem;
}

.home__data {
    text-align: center;
}

.home__subtitle {
    display: block;
}

.home__title {
    font-size: var(--biggest-font-size);
    margin: .75rem 0;
}

.home__button {
    background-color: var(--text-color);
    color: white;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: .4s;
}

.home__button:hover {
    box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img {
    width: 238px;
    animation: floaty 1.8s infinite alternate;
}

.home__img {
    justify-self: center;
}

.img__shadow {
    width: 138px;
    height: 24px;
    background-color: hsla(38, 21%, 19%, .16);
    margin: 0 auto;
    border-radius: 50%;
    filter: blur(7px);
    animation: shadow 1.8s infinite alternate;
}

.home__footer {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    font-size: var(--smaller-font-size);
    align-self: flex-end;
}







/* ==================== GHOST ANIMATION ==================== */
@keyframes floaty {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(.85, .85);
    }
}







/* ==================== PROJECT INFO CARD ==================== */
.project_info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
}


.project_info_card {
    width: 70%;
    max-width: 400px;
    background-color: rgb(243, 240, 240);

    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;

    position: relative;
}


.project_info_img {
    width: 90%;
}

.project_info_card h2 {
    margin-top: 1.2rem;
}

.project_info_card p {
    font-style: italic;
    font-size: .75rem;
    ;
}

.project_info_close {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 2.5rem;

}








/* ==================== BREAKPOINTS ==================== */

/* For small devices */
@media screen and (min-width: 328px) {
    .home {
        padding-top: 7rem;
    }
}


/* For  devices */
@media screen and (min-width: 757px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }
}


/* For large devices */
@media screen and (min-width: 1024px) {

    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }

    .home__data {
        text-align: initial;
    }

    .home__img img {
        width: 400px;
    }

    .img__shadow {
        width: 250px;
        height: 40px;
    }
}

@media screen and (min-width: 1048px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }


}

/* For 2k resolutions (2048 x 1152, 2048 x 1536) */

@media screen and (min-width: 2048px) {
    body {
        zoom: 1.7;
    }

    .home {
        height: initial;
        row-gap: 4rem;
    }
}

/* For 4k resolutions (3840 x 2160, 4896 x 2160) */
@media screen and (min-width: 3840px) {
    body {
        zoom: 3.1;
    }

}